body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
}

.recipes {
  margin: 2em auto;
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe {
  margin-bottom: 2em;
  text-align: left;
}

.recipe h2 {
  color: #333;
}

.recipe p {
  color: #666;
}
